body {
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans Regular", Arial, sans-serif;
  color: #333333;
  text-transform: uppercase;
  background: #ffffff;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.main-navigation {

}
.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;

}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
}

.main-navigation a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #000000;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 75px;
  padding-right: 75px;
  /*у первого и третьего еще паддинги*/
}

.main-navigation a:nth-child(2) {
  padding-right: 120px;
  /*Не работает*/
}



.container {
  margin: 0 auto;
  min-width: 768px;
  max-width: 1200px;

}

.main-image {
  background: url("../img/main-img.jpg");
  background-size: 100%;
}

.main-navigation {
  width: 1200px;

}

.slogan {
  width: 458px;
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 80px;
}

.about {
  text-align: center;
  padding-top: 63px;
  width: 700px;
  /*Как померить какого он на самом деле размера?
  я на глаз определила*/
  margin-left: 282px;
  margin-right: 282px;


}

.about h1 {
  font-size: 21px;
  line-height: 25px;
  padding-bottom: 38px;

}

.about p {
  padding-bottom: 57px;

}

.reason-item {
  background: #81b3d2;
  color: #ffffff;
  padding-top: 55px;

}

.reason-item-additional {
  background: #eeeeee;
  color: #000000;

}

.reason-title {
  padding-bottom: 25px;
 /*Как сделать короткий заголовок и чтобы высота у правого
 и левого блоков была одинаковая?*/
}

.reason-number {
  padding-bottom: 28px;

}

.reason-item p {
  width: 300px;
  padding-left: 50px;
  padding-right: 50px;
  /*Как снять точные размеры?*/

}

.features-row {
  margin-bottom: 77px;

}

.features-item {
  width: 400px;
  float: left;
  text-align: center;

}

.reason-item {
  width: 400px;
  float: left;
  text-align: center;

}

.reason-photo {
  width: 800px;
  float: left;

}


.offer {
  width: 1200px;
  text-align: center;
}

.search-form a {
  display: inline-block;
  width: 568px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #766357;
  font-size: 21px;
  line-height: 21px;
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;

}

.hidden-form {
  width: 568px;
  padding-top: 55px;
  padding-left: 55px;
  background: #ffffff;
  color: #000000;

}

.btn-find {
  display: inline-block;
  vertical-align: top;
  min-width: 455px;
  padding: 15px 20px;
  margin-top: 55px;
  margin-bottom: 55px;
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background: #81b3d2;
  border: none;
  text-transform: uppercase;
  /*Почему не наследуется uppercase?*/
}

.map {
  background: url("../img/map.png");
  width: 1200px;
  height: 590px;

}

.main-footer {
  padding: 20px 0;

}

.footer-hashtag {
  width: 400px;
  float: left;
}

.footer-social {
  width: 400px;
  float: left;

}

.footer-copyright {
  width: 400px;
  float: right;

}


/* Внутренняя страница */

.filter {
  /* Почему не работате?
  верхие нижние отступы
  background-size% 100%
  background-position: center;
  min-height: px*/
  background: url("../img/filter-bg.jpg");

}

.filter-unit {
  float: left;

}

.ranges-filter-unit {
  float: right;

}

.ranging {
  clear: both;
}

.ranging-title {
  float: left;
  width: 135px;

}

.sorting {
  float: left;
  margin-left: 30px;

}

.sorting-title {
  float: left;

}

.sorting-arrow {
  float: right;

}

.hotel-photo {
  float: left;
  width: 135px;
  height: 90px;
}

.hotel-description {
  float: left;
  margin-left: 30px;

}

.hotel-rating {
  float: right;

}

.hotel-item {
  /* Как сделать чтобы двойной обводкт не было?
  Или только у последнего делать доп. сласс и только у него прописывать border-bottom?

  псевдо класс */
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 30px;
  padding-bottom: 30px;

}
